* {
    margin: 0;
    padding: 0;
    /*ira medir a partir da borda assim nunca aumentando a borda da caixa   */
    box-sizing: border-box;
    font-family: "Roboto" "Roboto Mono", sans-serif;
}

body * {
    color: var(--text-color);
}

:root {
    --background-mode: url(./images/bg-mobile.jpg);
    --text-color: #ffffff;
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --stroke-color-hover: rgb(255, 255, 255, 0.7);
    --surface-color-hover: rgba(255, 255, 255, 0.199);
    --switch-bg: url(./images/icons/moon.svg);
}

.light {
    --background-mode: url(./images/bg-mobile-ligth.jpg);
    --text-color: #000000;
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --stroke-color-hover: #000000;
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --switch-bg: url(./images/icons/sun.svg);
}

body {
    background-image: var(--background-mode);
    background-repeat: no-repeat;
    /* top =eixo Y center eixo = X (para alinhar aos pontos de interece da imagem dos eixos) */
    background-position: top center;
    background-size: cover;
    /* cobrir tudo o campo de visao, se tivesse container seria do tamanho do body mas o body n tem tamanho definido ainda WH e Wh */
}

.container {
    /* alinha o conteudo ao centro da caixa */
    width: 360px;
    /* auto = o ele proprio faz o calculo das laterais centralizando o item no meio da tela (ignorando cima e baixo =0px) */
    margin: 50px auto 0;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img.avatar {
    display: inline-block;
    padding: 4px;
    border-radius: 50%;
    width: 100px;
    border: solid 2px var(--stroke-color);
}

h1 {
    margin: 24px 0px 8px 0px;
    line-height: 24px;
    font-size: 32px;
    font-weight: 600;
    font-family: "Roboto";
}

span {
    font-weight: 400;
    font-family: "Roboto Mono";
    font-size: 16px;
}

ul {
    list-style: none;
    /* margin: 48px 0; */
    padding: 24px;
    display: flex;

    flex-direction: column;
    gap: 16px;
}

ul li {
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    padding: 16px 24px;
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    transition: background 0.5ms;
}

ul li:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--stroke-color-hover);
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;

    text-transform: uppercase;

    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: 14px;
}

ion-icon {
    font-size: 16px;
}
footer {
    margin-top: px;
    text-align: center;
}
/* footer span {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-color);
} */
/*
footer span:hover {
    color: #00082f;
}

.icon {
    color: white;
} */
#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 32px;
    height: 32px;
    background: white;
    border: 0;
    border-radius: 50%;
    background-image: var(--switch-bg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
    left: 0px;
    transform:translateY(-50%) ;
    top: 50%;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
    -webkit-backdrop-filter: blur(4px);
}

.light #switch button {
    right: 0;
    left: initial;
}
